.about-container {
  position: absolute;
  top: 30px;
  width: 95%;
  height: 86%;
  margin: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  border: solid 1px black;
}

.sheet {
  font-size: 1.2em;
  padding: .8em;
  line-height: 1.3em;
}

@media (min-width: 1000px) {
  .about-container {
    margin: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 85%;
    top: 0;
  }

  .sheet {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
