.connect-container {
  width: 97%;
  height: 95%;
  margin: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-links {
  font-size: 3.5em;
  list-style: none;
  text-align: center;
}

@media (min-width: 1000px) {
  .connect-links {
    font-size: 5em;
  }
}
