.landing-container {
  height: 100vh;
}

.main-header {
  text-align: right;
  font-size: 1.5em;
  line-height: 35px;
  margin-right: .5em;
  font-family: 'Gerstner-Light', 'PT Sans';
  font-weight: light;
  position: fixed;
  top: 0;
  right: 0;
}

.landing-logo {
  width: 20%;
  position: fixed;
  top: 40%;
  left: 38%;
}

.nav-tabs {
  margin-top: 485px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  font-size: .8em;
  cursor: pointer;
  position: relative;
  position: fixed;
  bottom: 0;
}

.projects-dropdown {
  display: none;
}

.projects-dropdown.visible {
  max-height: 500px;
  transition: max-height 0.5s ease;
}

@media (min-width: 1000px) {
  .landing-container {
    right: 0;
  }

  .main-header {
    font-size: 2.7em;
  }

  .nav-tabs {
    width: 35%;
    font-size: 1.125em;
    justify-content: space-between;
    margin: 485px 0 .5em 1em;
  }

  .projects-dropdown {
    display: block;
    list-style-type: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 0;
  }
}
