.project {
  z-index: 10;
  width: 100%;
  margin-top: 20px;
}

.project-item {
  height: 100vh;
}

.project:last-child {
  padding-bottom: 90px;
}

.project:not(:last-child) {
  margin-bottom: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-header {
  font-size: 2.5em;
  margin: 0;
}

.project-video {
  border: 1px solid rgb(157, 157, 157);
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 100%;
}

.project-description {
  font-size: 0.9em;
}

.project-links .card-button {
  margin-right: 10px;
  align-items: center;
  border: solid 1px black;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 6px;
}

.project-links .card-button:hover {
  opacity: 0.2;
}

.project-info-lower {
  display: flex;
  justify-content: space-between;
}

.sub-description-group {
  font-size: 0.6em;
  line-height: 10px;
  margin-top: 25px;
}

@media (min-width: 1000px) {
  .project {
    width: 50%;
    margin-top: 70px;
  }

  .project:not(:last-child) {
    margin-bottom: 50px;
  }

  .project-header {
    position: absolute;
    font-size: 4.2em;
    width: 40%;
    transition: transform 0.5s ease-out;
  }

  .project-video {
    width: 90%;
  }

  .project-description {
    width: 85%;
    font-size: .9em;
    line-height: 1.5em;
  }

  .project-links .card-button {
    font-size: 1em;
    width: 130px;
    height: 30px;
    border-radius: 0;
  }

  .project-info-lower {
    width: 90%;
  }

  .sub-description-group {
    width: 22%;
  }

  .project:last-child {
    padding-bottom: 0;
  }
}
