@font-face {
  font-family: 'Gerstner-Regular';
  src: url("./src/Gerstner-font/Gerstner-Programm-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Gerstner-Regular';
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
